:root {
  --main-color: #06BBCC;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Heebo",sans-serif;
  margin: 0;
}
/* commponants */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
      width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
      width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
      width: 1170px;
  }
}
.btn {
  text-decoration: none;
  color: black;
  background-color: #eee;
  padding: 15px 45px;
  border: 1px solid var(--main-color);
  display: inline-block;
  background-color: var(--main-color);
}
.main-title {
  color: var(--main-color);
  font-size: 18px;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  padding: 5px 10px;
  background-color: white;
  position: relative;
  width: fit-content;
  margin: auto;
}
.main-title::before,
.main-title::after {
  content: '';
  background-color: var(--main-color);
  height: 2px;
  position: absolute;
  left: 0;
  z-index: -1;
}
.main-title::before {
  width: calc(100% + 60px);
  top: 11px;
  left: -30px;
}
.main-title::after {
  width: calc(100% + 100px);
  bottom: 13px;
  left: -50px;
}
.main-title + h2 {
  margin: 0;
  font-size: 37px;
  font-weight: 600;
  text-align: center;
}
/* commponants */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0px 20px rgb(0 0 0 / 50%);
  position: relative;
  z-index: 1;
  transition: .3s;
}
.h-fixed {
  position: fixed;
  width: 100%;
  background-color: white;
}
header .logo {
  text-decoration: none;
  color: var(--main-color);
  padding: 12px 35px;
  font-size: 35px;
  font-weight: 600;
}
header .logo i {
  margin-right: 10px;
}
header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
}
header nav .link {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  padding: 10px 12px;
  font-weight: 600;
  position: relative;
}
header nav .link:hover ,
header nav .link.active {
  color: var(--main-color);
}
header nav .link i {
  font-size: 12px;
}
header nav .links {
  position: absolute;
  top: 100%;
  background-color: white;
  text-align: left;
  width: 150px;
  opacity: 0;
  transition: .3s;
}
header nav .links a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 5px 20px;
}
header nav .links a:hover {
  background-color: var(--main-color);
}
header nav button {
  background-color: var(--main-color);
  border: none;
  height: 75px;
  width: 200px;
  font-size: 16px;
  margin-left: 15px;
  cursor: pointer;
}
header nav .menu {
  display: none;
  padding: 8px 15px;
  margin: 0 20px;
  font-size: 25px;
  color: #ddd;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}
header nav i {
  padding: 5px;
}
@media (max-width: 991px) {
  header nav ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    border-top: 1px solid #eee;
    opacity: 0;
  }
  header nav ul li {
    width: 100%;
  }
  header nav ul li a {
    display: block;
  }
  header nav button {
    display: none;
  }
  header nav .menu {
    display: inline;
  }
}
.show {
  opacity: 1;
}
/* landing */
.landing {
  background-image: url('../imgs/img1.jpg');
  background-size: cover;
  height: 100vh;
  position: relative;
}
.landing .layer {
  position: absolute;
  background-color: rgb(6 119 204 / 40%);
  width: 100%;
  height: 100%;
}
.landing .container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.landing span {
  font-size: 25px;
  font-weight: 600;
  color: var(--main-color);
  text-transform: uppercase;
}
.landing h1 {
  font-size: 60px;
  text-transform: capitalize;
  margin: 0;
}
.landing p {
  font-size: 22px;
  margin: 0 0 20px;
}
.landing .btn:first-of-type {
  margin-right: 15px;
}
.landing .btn:last-of-type {
  background-color: #eee;
  border-color: #eee;
}
.landing .icons i {
  padding: 10px 15px;
  margin: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.landing .icons i:hover {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/* landing */
/* Services */
.services {
  padding-top: 80px;
  padding-bottom: 80px;
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.services .service {
  background-color: #eee;
  padding: 20px;
  text-align: center;
  transition: .3s;
}
.services .service:hover {
  background-color: var(--main-color);
  transform: translateY(-10px);
}
.services .service:hover i {
  color: white;
}
.services .service i {
  font-size: 40px;
  padding-top: 20px;
  color: var(--main-color);
}
.services .service h2 {
  font-size: 20px;
  font-weight: 600;
}
.services .service p {
  margin: 0;
}
/* Services */
/* About Us */
.about {
  padding-top: 80px;
  padding-bottom: 80px;
}
.about .container {
  display: flex;
  gap: 40px;
}
.about .image {
  flex-basis: 50%;
  width: 500px;
  height: 450px;
  overflow: hidden;
  padding: 0 15px;
}
.about .image img {
  max-width: 100%;
}
.about .content {
  flex-basis: 50%;
}
.about .content h4 {
  color: var(--main-color);
  font-size: 18px;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  padding: 5px 10px 5px 0;
  background-color: white;
  position: relative;
  display: inline-block;
}
.about .content h4::before,
.about .content h4::after {
  content: '';
  background-color: var(--main-color);
  height: 2px;
  position: absolute;
  left: 0;
  z-index: -1;
}
.about .content h4::before {
  width: calc(100% + 30px);
  top: 11px;
}
.about .content h4::after {
  width: calc(100% + 50px);
  bottom: 13px;
}
.about .content h2 {
  margin: 0;
  font-size: 37px;
  font-weight: 600;
}
.about .content p {
  color: #777;
}
.about .content .info {
  color: #777;
  display: flex;
  margin: 20px 0;
}
.about .content .info .left,
.about .content .info .right {
flex: 1;
}
.about .content .info .left div,
.about .content .info .right div {
padding: 5px 20px;
position: relative;
}
.about .content .info .left div::before,
.about .content .info .right div::before {
content: '\f061';
font-family: 'font awesome 5 free';
font-weight: 900;
position: absolute;
left: 0;
color: var(--main-color);
}
.about .content button {
  margin-top: 10px;
}
@media (max-width: 991px) {
  .about .container {
    flex-direction: column;
  }
  .about .image {
    width: 100%;
    height: 400px;
    padding: 0;
  }
}
/* About Us */
/* Courses Categories */
.categories {
  
}

/* Courses Categories */